<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">  
		<script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
		<title>ZiZZ's Burgers</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>